<nav>
    <img src="/images/Jadoo.png" alt="Logo" class='logo'>

    <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/category">Categories</a></li>
        <li><a href="/destination">Destination</a></li>
        <li><a href="/bookTrip">Book Trip</a></li>
    </ul>

    <ul class="login-list">
        <li><a href="/login">Login</a></li>
        <li><a href="/signUp">Sign up</a></li>
        

    </ul>
</nav>