<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <main class="category-main"> 

        <div class="best-services">
            <h2>We Offer Best Services</h2>

            <div class="miniCard-container">
                <div class="mini-card">
                   <img src="images/satellite-dish.png" alt="satellite" class="miniCard-image">
                   <p class="miniCard-subtitle">Calculated Weather</p>
                   <p class="miniCard-text">Built Wicket longer admire do barton vanity itself do in it.</p>
                </div>

                <div class="mini-card">
                    <img src="images/plane.png" alt="plane" class="miniCard-image plane-img">
                    <p class="miniCard-subtitle">Best Flights</p>
                    <p class="miniCard-text">Engrossed listening. Park gate sell they west hard for the.</p>
                </div>

                <div class="mini-card">
                    <img src="images/image 25.png" alt="mic" class="miniCard-image">
                    <p class="miniCard-subtitle">Local Events</p>
                    <p class="miniCard-text">Barton vanity itself do in it. Preferred to men it engrossed listening. </p>
                </div>

                <div class="mini-card">
                    <img src="images/power-supply 1.png" alt="power" class="miniCard-image">
                    <p class="miniCard-subtitle">Customization</p>
                    <p class="miniCard-text">We deliver outsourced
                        aviation services for
                        military customers</p>
                </div>
            </div>

        </div>

        <div class="top-destination">
            <h2>Top Destination</h2>

            <div class="cityCard-container">
                <div class="city-card rome-card">
                   <!-- <img src="images/rome.png" alt="rome" class="cityCard-image"> -->
                   <div class="cityCardText-container">
                        <p>Rome,Italy $500 🛫</p>
                        <p>▸10 Day Trip</p>
                   </div>
                </div>
            
                <div class="city-card london-card">
                    <!-- <img src="images/london.jpg" alt="plane" class="cityCard-image"> -->
                    <div class="cityCardText-container">
                        <p>London, UK $600 🛫</p>
                        <p>▸12 Day Trip</p>
                    </div>
                </div>
            

            
                <div class="city-card europe-card">
                    <!-- <img src="images/europe.png" alt="mic" class="miniCard-image"> -->
                    <div class="cityCardText-container">
                        <p>Full Europe $1,200 🛫</p>
                        <p>▸28 Day Trip</p>
                    </div>
                </div>
            
                
            </div>
            
        </div>

    </main>
    
</body>
</html>