<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <main class="destination-main">
        
            <div class="bookTrip-container">
                <div class="bookTrip-text">

                    <h2>Book your next trip 
                        in 3 easy steps
                    </h2>
                    <div class="dest-text">
                        <img src="images/destination.png" alt="destination">
                        <div>
                            <p><strong>Choose Destination</strong></p>
                            <p> 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. Urna, tortor tempus. 
                            </p>
                        </div>
                    </div>

                    <div class="dest-text">
                        <img src="images/payment.png" alt="destination">
                        <div>
                            <p><strong>Make Payment</strong></p>
                            <p> 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. Urna, tortor tempus. 
                            </p>
                        </div>
                    </div>

                    <div class="dest-text">
                        <img src="images/airport.png" alt="destination">
                        <div>
                            <p><strong>Reach Airport on Selected Dates</strong></p>
                            <p> 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. Urna, tortor tempus. 
                            </p>
                        </div>
                    </div>
                  

                </div>

                <div class="trip-card">
                    <div class="mini-card">
                        <img src="images/greece.jpg" alt="greece">
                        <p>Trip Tp Greece</p>
                        <img src="images/OPTIONS.png" alt="options">
                    </div>

                </div>

            </div>

            <div class="testimonial-container">
                <div class="testimonialText-container">
                    <h2>What People Say About Us.</h2>

                </div>

                <div class="testimonialCard-container">
                    <div class="mini-card">
                        <img src="images/mike.png" alt="greece">
                        <p>“On the Windows talking painted pasture 
                            yet its express parties use. 
                            Sure last upon he same as knew next. 
                            Of believed or diverted no.”
                        </p>

                        <p><strong>Mike taylor</strong></p>
                        <p>
                            Lahore, Pakistan
                        </p>
                        
                        
                    </div>
                    
                </div>
                
            </div>

        
        
    </main>
    
</body>
</html>