<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <main class="index-main">
        <div class="heroTextContainer-index">
            <p class="preTitle">best destination around the world</p>
            <h1>Travel,enjoy and live a new and full life</h1>
            <img src="images/underlineDecore.png" alt="underline" class="underline-image">
            <p class="hero-subText">
                Built Wicket longer admire do barton vanity itself do in it. 
                Preferred to sportsmen it engrossed listening. 
                Park gate sell they west hard for the.
            </p>

            <a href="#" class="btn btn-lightOrange">Find out more</a>
            <a href="#" class="btn btn-darkOrange">Play Demo</a>

        </div>
        <div class="heroImageContainer-index">
            <!-- <p>image container</p> -->
            <img src="images/Traveller 1.png" alt="traveller" class="traveller-image">
        </div>
    </main>
    
</body>
</html>